body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.console {
    background-color: #272822;
    color: white;
    border: 0;
    width: 100%;
    resize: none;
    font-family: "Courier New", Courier, monospace;
}

.nav-tabs {
    border-bottom: 0;
}