
form(class="form-horizontal" role="form" method="post" action="")
    .form-group
        label(class="col-sm-2 control-label" for="IDSedit") IDs
        .col-sm-8
            input(type="text" class="form-control" id="IDSedit" placeholder="Device IDs separated by colons" name="IDSedit")
    .form-group
        label(class="col-sm-2 control-label" for="TTLedit") Time to Live
        .col-sm-8
            input(type="text" class="form-control" id="TTLedit" placeholder="Integer number (optional)" name="TTLedit")
    .form-group
        .checkbox
            .col-sm-2
            .col-sm-6
                label
                    input(type="checkbox" value="delay" name="delay" id="delay")
                    | Delay while idle
    .form-group
        label(class="col-sm-2 control-label" for="MESSAGEedit") Message
        .col-sm-8
            textarea(class="form-control" id="MESSAGEedit" placeholder="Message in JSON" rows="5" name="MESSAGEedit")
    .form-group
        .col-sm-2
        .col-sm-6
            input(type="submit" class="btn btn-primary gcm-send" value="Send" name="submit")

script(type='text/javascript').
    $(function() {
        $('.gcm-send').click(function (e) {
            e.preventDefault();
            var obj = {};
            obj['IDSedit'] = $('#IDSedit').val() === "" ? null : $('#IDSedit').val();
            obj['delay'] = $('#delay').is(':checked') ? "checked" : null;
            obj['TTLedit'] = $('#TTLedit').val() === "" ? null : $('#TTLedit').val();
            obj['MESSAGEedit'] = $('#MESSAGEedit').val() === "" ? null : $('#MESSAGEedit').val();
            socket.emit('gcm-send', obj);
            log(">>> gcm-send - " + JSON.stringify(obj));
        })
    });
