doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(type='text/javascript', src="/socket.io/socket.io.js")
        script(type='text/javascript').
            var socket;
            var log;

            $(function(){
                socket = io.connect('http://95.85.23.171:3000/');
                log =  function(text){
                    var date = new Date();
                    text = text.replace(/(\r\n|\n|\r)/gm,"");
                    var min = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                    $('.console').append("[" + date.getHours() + ":" + min + "] " + text + "\n");
                    var console = $('.console');
                    console.scrollTop(
                        console[0].scrollHeight - console.height()
                    );
                };
                socket.on('debug', function (data) {
                    log(data['msg']);
                });
            });

    body
        h1= title
        p Welcome to #{title}
        br
        .row
            .col-md-12
                .panel.panel-default
                    .panel-heading Console
                    .panel-body
                        textarea.console(readonly rows="15")

        .row
            .col-md-12
                ul.nav.nav-tabs
                    - each item, i in menu
                        if i === page
                            li.active: a(href=item.url data-toggle="tab")= item.name
                        else
                            li: a(href=item.url data-toggle="tab")= item.name

                .tab-content.panel.panel-default(style="padding-top: 1em")
                    .tab-pane.active.fade.in(id="1")
                        include index
                    .tab-pane.fade(id="2")
                        include plus
                    .tab-pane.fade(id="3")
                        include standalone
                    .tab-pane.fade(id="4")
                        include notification
                    .tab-pane.fade(id="5")
                        include database
