.form-horizontal
    h4.col-sm-10 Normal view
    img(src="http://developer.android.com/images/ui/notifications/normal_notification_callouts.png" style="display:block; margin: auto; margin-bottom: 1em;")
    .form-group
        label(class="col-sm-2 control-label" for="notTitle") Content title (1)
        .col-sm-8
            input(type="text" class="form-control" id="notTitle" placeholder="5 new messages" name="notTitle")

    .form-group
        label(class="col-sm-2 control-label" for="notLargeIcon") Large icon name (2)
        .col-sm-8
            input(type="text" class="form-control" id="notLargeIcon" placeholder="email_large" name="notLargeIcon")

    .form-group
        label(class="col-sm-2 control-label" for="notContent") Content text (3)
        .col-sm-8
            input(type="text" class="form-control" id="notContent" placeholder="twain@android.com" name="notContent")

    .form-group
        label(class="col-sm-2 control-label" for="notContentInfo") Content info (4)
        .col-sm-8
            input(type="text" class="form-control" id="notContentInfo" placeholder="12" name="notContentInfo")

    .form-group
        label(class="col-sm-2 control-label" for="notSmallIcon") Small icon name (5)
        .col-sm-8
            input(type="text" class="form-control" id="notSmallIcon" placeholder="email_small" name="notSmallIcon")

    .form-group
        label(class="col-sm-2 control-label" for="notTime") Issue time (6)
        .col-sm-8
            input(type="text" class="form-control" id="notTime" placeholder="YYYY-MM-DD hh:mm:ss (Empty for automatic)" name="notTime")

    h4.col-sm-10 Big view
    img(src="http://developer.android.com/images/ui/notifications/bigpicture_notification_callouts.png" style="display:block; margin: auto; margin-bottom: 1em;")
    .form-group
        .checkbox
            .col-sm-2
            .col-sm-6
                label
                    input(type="checkbox" value="notUseBig" name="notUseBig" id="notUseBig")
                    | Allow Big view
    .form-group
        label(class="col-sm-2 control-label" for="notBigTitle") Big view Content title (1)
        .col-sm-8
            input(type="text" class="form-control" id="notBigTitle" placeholder="6 new messages (empty to keep)" name="notBigTitle")

    .form-group
        label(class="col-sm-2 control-label" for="notBigSummary") Summary text
        .col-sm-8
            input(type="text" class="form-control" id="notBigSummary" placeholder="" name="notBigSummary")

    .form-group
        label(class="col-sm-2 control-label" for="notBigText") Text (7)
        .col-sm-8
            textarea(class="form-control" id="notBigText" placeholder="" rows="5" name="notBigText")

    h4.col-lg-12 Delivery
    .form-group
        .col-sm-2
        .col-sm-10
            .radio
                label
                    input(type="radio" name="notDelOpt" id="notDelOpt1" value="gcm" checked)
                    |GCM
            .radio
                label
                    input(type="radio" name="notDelOpt" id="notDelOpt2" value="service")
                    |Custom Service

    .form-group
        label(class="col-sm-2 control-label" for="notIDs") IDs
        .col-sm-8
            input(type="text" class="form-control" id="notIDs" placeholder="Database IDs separated by colons" name="notIDs")

    .form-group
        .col-sm-2
        .col-sm-6
            input(type="submit" class="btn btn-primary not-send" value="Send" name="submit")


    p(style="font-style:italic; padding:0 1em;")
        |Portions of this page are reproduced from work created and&#032;
        a(href="http://code.google.com/policies.html") shared by the Android Open Source Project
        |&#032;and used according to terms described in the&#032;
        a(href="http://creativecommons.org/licenses/by/2.5/") Creative Commons 2.5 Attribution License
        |.




script(type='text/javascript').
    $(function() {
        $('.not-send').click(function (e) {
            e.preventDefault();
            var obj = {};
            obj['notTitle'] = $('#notTitle').val() === "" ? null : $('#notTitle').val();
            obj['notLargeIcon'] = $('#notLargeIcon').val() === "" ? null : $('#notLargeIcon').val();
            obj['notContent'] = $('#notContent').val() === "" ? null : $('#notContent').val();
            obj['notContentInfo'] = $('#notContentInfo').val() === "" ? null : $('#notContentInfo').val();
            obj['notSmallIcon'] = $('#notSmallIcon').val() === "" ? null : $('#notSmallIcon').val();
            obj['notTime'] = $('#notTime').val() === "" ? null : $('#notTime').val();
            obj['notUseBig'] = $('#notUseBig').is(':checked') ? "checked" : null;
            obj['notBigTitle'] = $('#notBigTitle').val() === "" ? null : $('#notBigTitle').val();
            obj['notBigSummary'] = $('#notBigSummary').val() === "" ? null : $('#notBigSummary').val();
            obj['notBigText'] = $('#notBigText').val() === "" ? null : $('#notBigText').val();
            obj['notIDs'] = $('#notIDs').val() === "" ? null : $('#notIDs').val();
            obj['notDelOpt'] = $('input[name=notDelOpt]:checked').val();
            socket.emit('not-send', obj);
            log(">>> not-send - " + JSON.stringify(obj));
        })
    });
