form(class="form-horizontal" role="form" method="post" action="")
    .form-group
        .checkbox
            .col-sm-2
            .col-sm-10
                label
                    if heartbeat
                        input(type="checkbox" id="heartbeat" value="heartbeat" name="heartbeat" checked)
                    else
                        input(type="checkbox" id="heartbeat" value="heartbeat" name="heartbeat")
                    | Simulate Heartbeat
    .form-group
        .col-sm-2
        .col-sm-10
            input(type="submit" class="btn btn-primary gcm-plus" value="Set" name="submit")


script(type='text/javascript').
    $(function() {
        $('.gcm-plus').click(function (e) {
            e.preventDefault();
            var obj = {};
            obj['heartbeat'] = $('#heartbeat').is(':checked') ? "checked" : null;
            socket.emit('gcm-plus', obj);
            log(">>> gcm-plus - " + JSON.stringify(obj));
        })
    });